body, html {
  padding:0px;
  margin:0px;
  position: absolute;
  width: 1024px;
  height:768px;
  background-color: #444;
  font-family: Helvetica;
  font-size: 15px;
}


/* seleziono la palla attraverso l'id */
#ball {

  text-align: center;

  /* fisso un altezza e una larghezza */
  height: 150px;
  width: 150px;

  /* con il border radius la faccio diventare una palla 
   * notate che il raggio del bordo è la metà delle dimensioni della palla */
  border-radius: 75px;

  /* aggiungiamo un po' di stile */
  border: 0px;
  background-color: orange;

  /* la posizione è assoluta in modo che sia possibile spostare 
   * l'oggetto a piacimento */
  position: absolute;
  left: 100px;
  top: 100px;

  /* ammorbidisco le transizioni 
  -webkit-transition: all 0.01s; */
}
