html,body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-overflow-scrolling: none;
  background: -webkit-gradient(radial, 50% 5%, -10, 50% 50%, 650, from(rgb(255, 255, 255)), to(#909090));
}

/* seleziono la palla attraverso l'id */
#ball {

  text-align: center;

  /* fisso un altezza e una larghezza */
  height: 150px;
  width: 150px;

  /* con il border radius la faccio diventare una palla 
   * notate che il raggio del bordo è la metà delle dimensioni della palla */
  border-radius: 75px;

  /* aggiungiamo un po' di stile */
  background: -webkit-gradient(radial, 50% 5%, 0, 55% 35%, 90, from(rgb(250,190,100)), to(rgb(100, 30, 30)));

  /* la posizione è assoluta in modo che sia possibile spostare 
   * l'oggetto a piacimento */
  position: absolute;
  left: 250px;
  top: 250px;

  /* ammorbidisco le transizioni */
  -webkit-transition: all 0.5s ease-out; 
}
